%h1= "Examples for using '#{@presenter.word}'"

%ul#suggested-sentences
  -@presenter.sentence_suggestions.each do |suggestion|
    %li{"class" => 'suggestion', "data-region" => "#{suggestion.region}"}= suggestion.text
